.intro-header{
    background-color: #e2ac6c;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #ab3833;
    margin: 0;
    font-size: 24px;
}

.nav-links ul {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ab3833;
    font-weight: bold;
    font-size: 16px;
}
